.stats {
  background: #4f4f4f;
  color: #fff;
  padding: 2rem 0;
}

.stats__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: center;
}

.stats span {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

@media (min-width: 768px) {
  .stats__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
