<footer class="footer">
  <div class="container footer__grid">
    <div>
      <h4>Mi Espacio</h4>
      <p>Arquitectura moderna con visión sostenible.</p>
    </div>
    <div>
      <h4>Enlaces</h4>
      <a href="#">Cotizaciones</a>
      <a href="#">Obras</a>
      <a href="#">Servicios</a>
    </div>
    <div>
      <h4>Servicios</h4>
      <a href="#">Diseño</a>
      <a href="#">Remodelación</a>
      <a href="#">Gestión</a>
    </div>
  </div>
  <div class="copyright">© 2025 Mi Espacio</div>
</footer>
