<footer class="footer">
  <div class="container footer__grid">
    <section class="footer__brand">
      <h3>Mi Espacio</h3>
      <p>Arquitectura moderna, funcional y sostenible para transformar espacios con identidad.
      </p>
    </section>
    
    <section>
      <h4>Navegación</h4>
      <a href="#">Inicio</a>
      <a href="#">Obras</a>
      <a href="#">Servicios</a>
      <a href="#">Cotizaciones</a>
    </section>

    <section>
      <h4>Servicios</h4>
      <a href="#">Diseño Arquitectónico</a>
      <a href="#">Remodelación</a>
      <a href="#">Gestión de obra</a>
      <a href="#">Interiorismo</a>
    </section>

    <section>
      <h4>Contacto</h4>
      <a href="carlos.andres22@hotmail.es">carlos.andres22@hotmail.es</a>
      <a href="tel:+573215771029">+57 321 577 1029</a>
      <span>Bogotá, Colombia</span>
    </section>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <p>@ 2026 Mi Espacio. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
